<!DOCTYPE html>
<script src="script.js"></script>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>Home</title>
</head>
<body>
    <div class="header">
        <h1>Car Rental Database</h1>

    </div>
    <br>

    <div class="buttons">
            <button type="button"><a href="/static/customer.html">New Customer</a></button>

            <button type="button"><a href="/static/booking.html">New Booking</a></button>

            <button type="button"><a href="/static/vehicle.html">New Vehicle</a></button>

    </div>
    <br>
    <!-- search bar/ddl booking/customer/vehicle -->
    <table>
        <thead>
            <th>Booking ID</th>
            <th>Start Date</th>
            <th>End Date</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Phone Number</th>
            <th>Email Address</th>
            <th>Make</th>
            <th>Model</th>
        </thead>
        <tbody>
            {% for row in data %}
            <tr>
                <td>{{ row[0] }}</td>
                <td>{{ row[1] }}</td>
                <td>{{ row[2] }}</td>
                <td>{{ row[3] }}</td>
                <td>{{ row[4] }}</td>
                <td>{{ row[5] }}</td>
                <td>{{ row[6] }}</td>
                <td>{{ row[7] }}</td>
                <td>{{ row[8] }}</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</body>
</html>